.navbar{
    background-color: white !important;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.logo{
    width: 50px;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item{
    font-family: 'nunito sans', sans-serif;
    font-size: 18px;
    color:#565656 !important;
    margin-left: 30px;
    font-weight: 600;
}
.nav-item:hover{
    color: black !important;
}
.active{
    text-decoration: none;
    color: black !important;
}
.jumbotron{
    background-color: #FFECE3;
    height: 500px;
    height: calc(100vh);
    display: flex;
    justify-content: left;
}
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40%;
}
@media only screen and (min-width: 600px) {
    .jumboCopy {
        width: 70%;
        min-width: 500px;
        max-width: 700px;
        color: black;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
}}
@media only screen and (min-width: 768px) {
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: black;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}}
.display-4{
    font-family: 'nunito-sans', sans-serif;
    font-weight: bold;
}
.lead{
    font-family: 'nunito-sans', sans-serif;
}
.container{
    margin-top: 80px;
}
.row{
    margin-left: 50px;
    margin-right: 50px;
}
.col{
    margin-top: 40px;
}
.card{
    box-shadow: 0 0 8px 0 rgba(77, 77, 77, 0.192);
    border: none;
    border-radius: 0;
}
.card:hover{
    transform: scale(1.04);
    cursor: pointer;
}


.footerContainer{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: left;
    display: inline-flex;
    align-items: center;
    height: 50px;
}
h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 44px;
}
footer{
    display: flex;
    background-color: #E6EDF9;
    height: 225px;
    margin-top: 8%;
}
.social {
    display: block;
    margin-right: 10px;
}
@media only screen and (min-width: 600px) {
    .social {
        display: inline-flex;
        margin-right: 10px;
}}
.socialIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
